cache
cache/	
cache/*	
conf/rece.ini
entrada.json
factura.json
request*
response*
salida.json
traceback.txt
utils.pyc
wsaa.pyc
wsaa.py
wsfev1.pyc
wsfexv1.pyc
wsfexv1.py
PyAfipWs.egg-info/
build/
dist/

